html,
body,
* {
	margin: 0;
	padding: 0;
	overflow: hidden;
	/* background-color: red; */
}
.main {
	/* padding: 40px 60px; */
	-webkit-app-region: drag;
	cursor: grab;
	user-select: none;
	white-space: nowrap;

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	display: flex;
	flex-direction: column;
}
.hide {
	opacity: 0;
}

.main.left {
	align-items: flex-start;
}
.main.center {
	align-items: center;
}
.main.right {
	align-items: flex-end;
}

.main.left .main-text {
	padding: 0px 100px 0px 10px;
	text-align: left;
}
.main.center .main-text {
	padding: 0px 100px 0px 100px;
	text-align: center;
}
.main.right .main-text {
	padding: 0px 10px 0px 100px;
	text-align: right;
}
.main.dark .main-text {
	color: #ffff;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.main.left.dark .main-text {
	background: linear-gradient(
		90deg,
		rgba(0, 0, 0, 0.6),
		rgba(0, 0, 0, 0.6),
		rgba(0, 0, 0, 0.6),
		rgba(0, 0, 0, 0.6),
		rgba(0, 0, 0, 0.6),
		rgba(0, 0, 0, 0.3),
		rgba(0, 0, 0, 0)
	);
}
.main.center.dark .main-text {
	background: linear-gradient(
		90deg,
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.3),
		rgba(0, 0, 0, 0.6),
		rgba(0, 0, 0, 0.6),
		rgba(0, 0, 0, 0.6),
		rgba(0, 0, 0, 0.6),
		rgba(0, 0, 0, 0.6),
		rgba(0, 0, 0, 0.3),
		rgba(0, 0, 0, 0)
	);
}
.main.right.dark .main-text {
	background: linear-gradient(
		90deg,
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.3),
		rgba(0, 0, 0, 0.6),
		rgba(0, 0, 0, 0.6),
		rgba(0, 0, 0, 0.6),
		rgba(0, 0, 0, 0.6),
		rgba(0, 0, 0, 0.6)
	);
}
.main.light {
	color: #fff;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.main.left.light .main-text {
	background: linear-gradient(
		90deg,
		rgba(242, 156, 178, 0.6),
		rgba(242, 156, 178, 0.6),
		rgba(242, 156, 178, 0.6),
		rgba(242, 156, 178, 0.6),
		rgba(242, 156, 178, 0.6),
		rgba(242, 156, 178, 0.3),
		rgba(242, 156, 178, 0)
	);
}
.main.center.light .main-text {
	background: linear-gradient(
		90deg,
		rgba(242, 156, 178, 0),
		rgba(242, 156, 178, 0.3),
		rgba(242, 156, 178, 0.6),
		rgba(242, 156, 178, 0.6),
		rgba(242, 156, 178, 0.6),
		rgba(242, 156, 178, 0.6),
		rgba(242, 156, 178, 0.6),
		rgba(242, 156, 178, 0.3),
		rgba(242, 156, 178, 0)
	);
}
.main.right.light .main-text {
	background: linear-gradient(
		90deg,
		rgba(242, 156, 178, 0),
		rgba(242, 156, 178, 0.3),
		rgba(242, 156, 178, 0.6),
		rgba(242, 156, 178, 0.6),
		rgba(242, 156, 178, 0.6),
		rgba(242, 156, 178, 0.6),
		rgba(242, 156, 178, 0.6)
	);
}
/* saki-input {
}

.m-item {
	margin-bottom: 20px;
}

.m-input-tip {
	color: #999;
	font-size: 12px;
} */

/* html,
body {
	background-color: #fff;
} */
